<div id="menu8">
  <ul>
    <li><%= link_to "Dashboard", sms_path%> </li>
   <li><%= link_to "New Worker", new_villageworker_path%> </li>
    <li><%= link_to "All Workers", villageworkers_path%> </li>
  	<li><%= link_to "New Patient", new_patient_path %></li>
    <li><%= link_to "All Patients", patients_path %></li>

  </ul>
</div>
