<ul>
<li><%= link_to 'Home', admin_path %> <li>
<li><%= link_to 'Locations', locations_path %> <li>
<li><%= link_to 'Malaria', malaria_path %></li>
<li><%= link_to 'HIV and AIDS', "/hivaid" %>  </li>
<li><%= link_to 'TB', '/tb' %>  </li>
<li><%= link_to 'Settings', settings_path %></li>
</ul>

