<div class="report_dlg">
<%= form_tag "/hivdrugreports/" , :method => "get" do %>
<%= collection_select(:location,:id,@locations,:id,:name,options ={:prompt => "Select a Location"}) %>

<%= select_year 2009 %>
  <%= submit_tag "Generate  HIV Report" %>
<% end %>

</div>

<%= image_tag("hiv_drugs_report.png",:alt => "Malaria Location Reporting") %>


