<div id="menu8">
  <ul>
    	<li><%= link_to "All Children", new_location_path %> </li>
	<li><%= link_to "Child Births", malaria_path %>
	<li><%= link_to "Measles Cases",malaria_path %>
	<li><%= link_to "Diarrhoea Cases",malaria_path %>
	<li><%= link_to "Immunization Reports",malaria_path %>
	<li><%= link_to "Child Infection Report", malaria_path %>
	<li><%= link_to "Nutrition Reports" %>

  </ul>
</div>
