 <h1>Dots Members</h1>

<table class="table_list">
  <tr>
    <th>Date reported</th>
    <th>Patient number</th>
    <th>Patient phone</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dotsmembers.each do |dotsmember| %>
  <tr>
    <td><%= dotsmember.date_reported %></td>
    <td><%= dotsmember.patient_number %></td>
    <td><%= dotsmember.patient_phone %></td>
    <td><%= dotsmember.status %></td>
    <td><%= link_to 'Show', dotsmember %></td>
    <td><%= link_to 'Edit', edit_dotsmember_path(dotsmember) %></td>
    <td><%= link_to 'Destroy', dotsmember, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

