<div id="menu8">
  <ul>
    <li><%= link_to "Hiv Cases", hivcases_path %> </li>
    <li><%= link_to "New Hiv Cases", new_hivcase_path %> </li>
    <li><%= link_to "Location Report", hivlocationreports_path %></li>
   <li><%= link_to "Contraceptions Report", hivcontraceptionreports_path %></li>
 <li><%= link_to "Antiretroviral Report", hivdrugreports_path %></li>
  </ul>
</div>
